@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
* {
    font-family: 'Single Day', cursive;
    margin:0;
    padding:0;
}
body {
    background-color:#FFFF99;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container {
    padding:5px;
    margin:20px 0px;
    background-color:whitesmoke;
    box-shadow:0px 0px 10px gray;
}
.taskNameInput {
    display:block;
}
h1 {
    text-align:center;
}